@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

:root {
	--font-cinzel: "Cinzel", serif;
	--color-primary: #ffffff;
	--color-secondary: #000000;
	--color-logo: #ff4500;
}

@theme inline {
	--font-cinzel: var(--font-cinzel);
	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-logo: var(--color-logo);
}

a.active,
a:hover {
	@apply ring-2 rounded-full md:ring-0 md:bg-logo md:text-primary;
}
