@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
	--primary: #ebf2fa;
	--secondary: #cae9ff;
	--logo: #ff4500;
}

@theme {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-logo: var(--logo);
	--font-josefin: "Josefin Sans", sans-serif;
	--font-cinzel: "Cinzel", serif;
}

@layer base {
	body {
		background: var(--primary);
		font-family: var(--font-josefin);
	}

	h1,
	h2,
	h3 {
		font-family: var(--font-cinzel);
		color: var(--color-logo);
	}

	.link {
    color: var(--color-logo);
		@apply border-2 border-secondary rounded-full md:text-logo p-[1px] flex items-center gap-3 md:w-full md:px-10 md:py-2 md:border-none;
	}

	.link.active,
	.link:hover {
    color: var(--color-logo);
		@apply text-logo border-2 border-logo rounded-full md:bg-logo md:text-primary;
	}
}
