@import "tailwindcss";

:root {
  --primary: #ebf2fa;
  --secondary: #cae9ff;
  --logo: #ff4500;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-logo: var(--logo);
  --font-josefin: var(--font-josefin);
  --font-cinzel: var(--font-cinzel);
}

body {
  font-family: var(--font-josefin);
  line-height: 1.6;
  background: var(--color-primary);
}

h1,
h2,
h3 {
  font-family: var(--font-cinzel);
}