@import "tailwindcss";

:root {
	--primary: #ebf2fa;
	--secondary: #cae9ff;
	--logo: #ff4500;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-logo: var(--logo);
	--font-josefin: var(--font-josefin);
	--font-cinzel: var(--font-cinzel);
}

body {
	background: var(--primary);
	font-family: var(--font-josefin);
}

h1,
h2,
h3 {
	font-family: var(--font-cinzel);
	color: var(--color-logo);
}
