@import "tailwindcss";

:root {
	--primary: #f1f2f6;
	--secondary: #6bd8f7;
	--logo: #ff4500;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-logo: var(--logo);
	--font-josefin: var(--font-josefin);
	--font-cinzel: var(--font-cinzel);
}

body {
	background: var(--primary);
	font-family: var(--font-josefin);
}
